<div class="content">
  <div>
    <div>
      <p>Shopping List</p>
      <mat-form-field appearance="fill">
        <mat-label>Select catagories</mat-label>
        <mat-select name="food">
          <mat-option (click)="retrieveItem(null)" [value]="'All categories'"
            >All categories</mat-option
          >
          <mat-option
            (click)="retrieveItem(catalog.id)"
            *ngFor="let catalog of Categories"
            [value]="catalog.id"
          >
            {{ catalog.id }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button (click)="openDialog()">Add item</button>
    </div>
  </div>
  <mat-card
    class="example-card"
    *ngFor="let items of Item; let i = index"
    [class.active]="i == currentIndex"
    (click)="setActiveItem(items, i)"
  >
    <mat-card-header>
      <mat-card-subtitle class="title">{{
        items.categories
      }}</mat-card-subtitle>
    </mat-card-header>
    <div>
      <mat-card-content>
        <p>{{ items.title }}</p>
        <span>{{ items.description }}</span>
      </mat-card-content>
      <mat-card-actions *ngIf="items.owner === userEmail">
        <button mat-button (click)="openDialogUpdateItem(items.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button (click)="deleteItem()">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
